@import "./variables.scss";
@import "./Mixins.scss";

.main-sectiion {
  a {
    width: 30%;
    @include mediumScreens {
      width: 100%;
    }
  }
  @include centerCenter;
  height: 100vh;
  padding: 0 1.5rem;
}

.main-button {
  @include defaultButton;
  @include mediumScreens {
    width: 100%;
  }
}

.back-button {
  position: absolute;
  background: transparent;
  top: 15px;
  left: 15px;
  border: 0;
}

.section {
  @include centerCenter;
  @extend .main-sectiion;
  margin: auto;
  @include mediumScreens {
    width: 100%;
    padding: 0 1rem;
  }
}

.joke-section {
  width: 25%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  p {
    color: #000;
    font-size: 18px;
    line-height: 22px;
    span {
      display: block;
      margin-top: 0.5rem;
      font-size: 16px;
      color: #828282;
      line-height: 20px;
    }
  }
  p.joke-type {
    font-size: 14px;
    text-align: right;
    font-weight: 500;
    color: #828282;
    span {
      color: green;
      display: inline-block;
      text-transform: capitalize;
      font-size: 14px;
    }
  }
  @include mediumScreens {
    width: 100%;
  }
}

.center-loader {
  @include center;
}
